<div class="container__table">
  <table class="table">
    <thead>
      <tr>
        <th>Articulo</th>
        <th>Cant</th>
        <th>Precio</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart$ | async">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price|currency}}</td>
        <td>{{item.quantity * item.price|currency}}</td>
      </tr>
    </tbody>
  </table>

  <div class="container__total">
    <p class="total">
      <strong>total:<span>{{total$ |async|currency}}</span></strong>
    </p>
  </div>
</div>
